.dragable-container{
  width: 450px;
  height:500px;

  border: 4px dashed var(--glow-dark);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dragable-loader-container{
  display: flex;
}