.output-window{
  width: 60vw;
  height: 450px;

  border: 4px dashed var(--glow-dark);
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.before-div, .after-div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--glow-dark);
}
#before-div, #after-div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--glow-dark);
}
.progress-container{
  width: 100%;
  height: 50px;
  display: flex;
  border-top: 4px dashed var(--glow-dark);
}
.before-div, #before-div{
  border-right: 2px dashed var(--glow-dark);
}
.after-div, #after-div{
  border-left: 2px dashed var(--glow-dark);
}

.img-container{
  width: 100%;
  height: 100%;
  display: flex;
}

img{
  height:350px;
  width: 300px;
  object-fit: contain;
  position: fixed;
  z-index: 999;
  position: fixed;
  border: none;
}

#download-button{
  width: 100%;
}