#upload-button{
  outline: none;
  background: var(--glow-dark);
  color: var(--light);
  border: 2px dashed var(--glow-dark);
  padding: 12px;
  font-size: 1.1em;
  margin-top: 15px;

  transition: all 0.2s;
}

#upload-button:hover{
  background: transparent;
  color: var(--glow);
  border-color: var(--glow);
}