@import './Partial.css';

body {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  font-family: var(--font-main); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  border-top: 3px solid var(--glow-dark);
  background: var(--glow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
