@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
  
  /* FONT FAMILY */
  --font-main : 'Roboto Condensed';

  /* COLOR SCHEME */
  --dark : #163172; 
  --light : #F6F6F6; 
  --glow : #1E56A0; 
  --glow-dark : #D6E4F0; 
}

/* FONT COLOR CLASSES */
.font-glow{
  color: var(--glow);
}
.font-glow-dark{
  color: var(--glow-dark);
}
.font-light{
  color: var(--light);
}
/*--------------------*/


/* BACKGROUND COLOR CLASSES */
.bg-dark{
  background: var(--dark);
}
.bg-dark-secondary{
  background: var(--dark-secondary);
}
/*---------------------------*/

/* CUSTOM BUTTON */
.button{
  padding: 12px;
  margin-top: 1em;
  color: var(--light);
  
  background: var(--dark);
  border: 2px dashed var(--glow-dark);
}
.button:hover{
  border: 2px dashed var(--glow);
  color: var(--glow);
}
/*-----------------*/