@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root{
  
  /* FONT FAMILY */
  --font-main : 'Rubik';

  /* COLOR SCHEME */
  --dark : #0b0c10; 
  --dark-secondary : #1f2833; 
  --light : #c5c6c7; 
  --glow : #66fcf1; 
  --glow-dark : #45a29e; 
}